.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 33px;
    margin-left: 28px;
    margin-right: 28px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 0px;

}

.titulo {
    color: #5D405C;
    font-size: 28px;

}

.subtitulo {
    color: #828282;
    font-size: 14px;
}

.filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5D405C;
    border-radius: 10px; 
    width: 100px;
    height: 40px; 
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F7F7F7;     
}

.filtro img{
    margin-right: 10px;
}
