.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 33px;
    margin-left: 28px;
    margin-right: 28px;
}

.conteudo-principal {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 0px;

}

.titulo {
    color: #5D405C;
    font-size: 28px;

}

.subtitulo {
    color: #828282;
    font-size: 14px;

}



.filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}

.filtro-item {
    width: 100px;
    height: 40px;
    left: 1316px;
    top: 135px;
    background: #5D405C;
    border-radius: 10px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F7F7F7;
}

