@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F7F7F7;
  margin: 0;
}

.charts {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.barrasimples {
  color: #5D405C;
  font-family: 'Montserrat, sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 630px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.grafico-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  font-weight: bold;
}

.barrasimples-item {
  color: #5D405C;
}

.scatter {
  color: #5D405C;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 630px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.img-title {
  background-image: url('./images/simbolo.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}